<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078256056098-cqfntpt73e48281gtg0fdkcifr265gjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078256056098-cqfntpt73e48281gtg0fdkcifr265gjo</string>
	<key>API_KEY</key>
	<string>AIzaSyCpWEJkgPUywvs3-6127QNq0khG17PpDD8</string>
	<key>GCM_SENDER_ID</key>
	<string>1078256056098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantifyEcommerceApp</string>
	<key>PROJECT_ID</key>
	<string>plantifyeccomerceapp</string>
	<key>STORAGE_BUCKET</key>
	<string>plantifyeccomerceapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078256056098:ios:a8475f55cc438b5530d77b</string>
</dict>
</plist>